extends layout

block content
  h1= title
  form(method='POST')
    div.form-group
      label(for='s_gallery') Select gallery:
      select#s_gallery.form-control(name='s_gallery' required onchange='this.form.submit()')
        for gallery in galleries
          if gallery._id.toString() === selectedGallery
            option(value=gallery._id, selected) #{gallery.name}
          else
            option(value=gallery._id) #{gallery.name}
  if images.length
    each image in images
      div.container
        h2 #{image.name}
        p Description: #{image.description}
        img.img-responsive(src=image.path alt=image.path style='height:200px; display:block;')
        div.image-actions
          form(method='POST', action=`/images/${image._id}/delete`)
            button.btn.btn-danger(type='submit') Delete
          a.btn.btn-secondary(href=`/images/${image._id}/edit`) Edit
          a.btn.btn-primary(href=`/images/${image._id}/comment`) Comment
  else
    p There are no any images.
  if errors
    ul
      for error in errors
        li!= error.msg
